{
  "semi": false,
  "arrowParens": "avoid",
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "printWidth": 100,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "tabWidth": 2
}